@import '~bootstrap/scss/bootstrap';

@mixin textLineMixin($bottom) {
  content: "";
  bottom: $bottom;
  position: absolute;
  border-bottom: 1px solid #EBEBEB;
  width: 40%;
}

.textLine {
  display: flex;
  &:after {
    @include textLineMixin(29%);
    right: 0;
  }
  &:before {
    @include textLineMixin(29%);
    left: 0;
  }
}

.textLineSignUP {
  display: flex;
  &:after {
    @include textLineMixin(9%);
    right: 0;
  }
  &:before {
    @include textLineMixin(9%);
    left: 0;
  }
}


.line {
  border: 1px solid #EBEBEB;
  width: 72px;
}
