@import '~bootstrap/scss/bootstrap';
@import "recomendation";
@import "mobileStyles";

@mixin textLineMixin($bottom) {
  content: "";
  bottom: $bottom;
  position: absolute;
  border-bottom: 1px solid #EBEBEB;
  width: 40%;
}

.textLine {
  display: flex;
  &:after {
    @include textLineMixin(29%);
    right: 0;
  }
  &:before {
    @include textLineMixin(29%);
    left: 0;
  }
}

.textLineSignUP {
  display: flex;
  &:after {
    @include textLineMixin(9%);
    right: 0;
  }
  &:before {
    @include textLineMixin(9%);
    left: 0;
  }
}


.line {
  border: 1px solid #EBEBEB;
  width: 72px;
}


.inputSearch {
  position: relative;
  background: #EFEFEF;
  border-radius: 8px;
  padding: 8px 12px 8px 40px;
  min-width: 250px;
}

.inputSearch__input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  &::placeholder {
    color: #a7a7a7;
  }
  &:focus {
    outline: none;
  }
}

.inputSearch__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.inputSearch__placeholder {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: #a7a7a7;
  pointer-events: none;
}

.inputSearch__input:focus + .inputSearch__placeholder {
  display: none;
}

.active_profile::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: #000;
  position: absolute;
  border-radius: 2px;
  left: -0.8rem;
  top: 0;
}

.change_btn{
  &:active{
    transform: scale(0.95);
    transition: transform 0.2s ease;
  }

}