@font-face {
  font-family: nexa;
  src: url(../assets/fonts/Nexa-Trial-Bold.otf);
}

.nexa-bold {
  font-family: nexa;
  font-weight: 700;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInLeft {
  animation: slideInLeft 0.3s ease-in-out forwards;
}
