.modalHeader {
    font-weight:bold;
    font-size: large;
}
.hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 100%;
}
.Content {
    cursor: pointer;
    font-weight:bold;
    color: tomato;
}