.privacyPolice{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 120%;
}

@media (max-width: 768px) {
    .privacyPolice {
      width: 100%;
      font-size: 120%;
    }
  }